{% extends 'base.html.twig' %}

{% block title %}All Monuments{% endblock %}
{% block body %}
	<h2>All Monuments:</h2>

<div><pre> {{ message }} </pre></div>

{% include 'inc/cards.html.twig' %}

{% endblock %}
